**/bin/
**/obj/
.vs/
*.user
*.rsuser
*.suo
artifacts/
.artifacts/
TestResults/
*.log
*.binlog
Plugins/
.release-notes.md
AppPackages/
BundleArtifacts/
*.nupkg
*.snupkg
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload
*.pfx
*.snk
